/* start :: widgetsstyles */
.features {
	overflow: hidden;
	h2 {
		font-weight: 600;
		margin-block-end: 12px;
		text-align: center;
		font-size: 2.2em;
	}
	h3 {
		font-size: 20px;
		font-weight: 500;
	}
	span {
		color: #43414e;
		display: block;
		font-weight: 400;
		text-align: center;
	}
}

.feature {
	.feature-svg {
		width: 25%;
	}
	.feature-svg3 {
		width: 12%;
	}
}

.col-sm-2 .feature {
	padding: 0;
	border: 0px;
	box-shadow: none;
}

.feature {
	.fea-icon {
		position: relative;
		display: inline-block;
		width: 3rem;
		height: 3rem;
		vertical-align: middle;
		padding-block-start: 8px;
		border-radius: 50%;
		color: $white;
		i {
			font-size: 1.5rem;
		}
	}
	p {
		margin-block-end: 0;
	}
}


/*----Widgets Styles---*/

.widgets {
	font-size: 35px;
	padding: 20px;
}

.widgetstext {
	inset-block-start: 0;
	inset-block-end: 0;
	padding: 20px 40px;
}

.widget-line h4 {
	font-size: 24px;
	font-weight: 600;
}

.fs {
	font-size: 25px;
}

.widget-line p {
	font-size: 16px;
}

.widget-line-list li {
	display: inline-block;
	font-size: 16px;
	line-height: 27px;
	padding: 5px 20px 0 15px;
	list-style-type: none;
}

.widgetdate {
	// float: $float-end;
	border-radius: 4px;
	background: $white;
	padding: 0 15px;
	p {
		margin-block-end: 0;
		margin-block-start: 5px;
	}
	h6 {
		font-size: 22px;
		font-weight: 600;
		margin-block-start: 0;
		margin-block-end: 5px;
	}
}

.user-wideget-text {
	position: relative;
	margin-block-end: -38px;
}

.widget-image img {
	width: 50px;
	height: 50px;
	border: 5px solid $white;
}

.wideget-img {
	inset-block-start: 0;
	inset-inline-end: 0;
	inset-block-end: 0;
	inset-inline-start: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 1.25rem;
}

.wideget-user-desc {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	.wideget-user-img img {
		border-radius: 100%;
		margin-inline-end: 1.5rem;
	}
	.user-wrap {
		margin-block-start: 1.5rem;
	}
}

.wideget-user .wideget-user-icons a {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	text-align: center;
	border-radius: 100px;
	line-height: 2rem;
	margin-block-start: 0.3rem;
	&:hover {
		color: $white;
	}
}

.wideget-user-info {
	.wideget-user-warap {
		display: flex;
		h4 {
			font-size: 1.5rem;
			font-weight: 500;
			margin-block-end: 0.4rem;
		}
		.wideget-user-warap-r {
			margin-inline-start: 10rem;
		}
	}
	.wideget-user-rating a {
		font-size: 18px;
	}
}

.wideget-user-tab {
	.tab-menu-heading {
		padding: 0;
		border: 0;
		.nav li a {
			font-size: 15px;
			font-weight: 400;
		}
	}
	.tabs-menu1 ul li a {
		padding: 10px 20px;
	}
}

.widget-spec li {
	margin-block-end: 0.5rem;
	font-size: 0.9rem;
	display: flex;
}

.widget-spec1 li {
	margin-block-end: 0.5rem;
	font-size: 0.9rem;
}

.widget-spec li {
	&.icon:before {
		content: '\f00c';
		position: absolute;
		width: 100%;
		height: 100%;
		display: block;
		font-family: fontawesome;
	}
	i {
		margin-inline-end: 0.5rem;
		margin-block-start: 3px;
	}
}

.wideget-user-tab .tabs-menu1 ul li .active {
	border: 0;
	border-radius: 0;
}

.widget-info-right {
	text-align: end;
	
}

.ui-widget-header {
	border: 1px solid #2c4359;
	color: #e1e463;
	font-weight: bold;
	a {
		color: #e1e463;
	}
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	
	font-weight: bold;
	color: #333333;
}

.widgets-cards {
	.wrp {
		&.icon-circle {
			width: 73px;
			height: 73px;
			border-radius: 50%;
			display: -webkit-flex;
			display: flex;
			-webkit-align-items: center;
			align-items: center;
			-webkit-justify-content: center;
			justify-content: center;
			padding: 0;
			margin-inline-end: 15px;
			i {
				font-size: 1.6rem;
				color: $white;
				margin-inline-start: 6px;
			}
		}
		p {
			margin-block-end: 0;
			margin-block-end: 10px;
			&:first-child {
				font-weight: 600;
				font-size: 30px;
			}
		}
	}
	.widgets-cards-data {
		margin-block-start: 8px;
		.wrp p:first-child {
			font-size: 19px;
			font-weight: 600;
		}
	}
}

.widget-user .box-footer {
	padding-block-start: 3rem;
}

.wideget-user-tab.wideget-user-tab3 .tabs-menu1 ul li {
	a {
		padding: 10px 20px 10px 20px;
		display: block;
		margin: 3px;
	}
	.active {
		border-block-end: 0 !important;
		padding: 12px 20px 12px 20px;
		border-radius: $default-radius  $default-radius 0 0;
		margin-block-end: -2px;
		background: $primary;
		border: 0;
		color: #fff;
	}
}

@media (max-width: 480px) {
	.wideget-user-tab.wideget-user-tab3 .tabs-menu1 ul li {
		a {
			margin: 0px !important;
		}
		margin: 3px !important;
	}
}

#widgetChart1 {
	width: 114% !important;
	inset-inline-start: -32px;
	position: relative;
	inset-block-end: -20px;
}

.widget-user .widget-user-header {
	padding: 20px;
	height: 120px;
}

.widget-user-header.wideget-bg:before {
	content: '';
	display: block;
	position: absolute;
	background: $black-5;
	width: 100%;
	height: 120px;
	inset-inline-end: 0;
	inset-block-start: 0;
}

.widget-user {
	.widget-user-username {
		margin-block-start: 0;
		margin-block-end: 5px;
		font-size: 21px;
		font-weight: 300;
		color: $white;
	}
	.widget-user-desc {
		margin-block-start: 0;
		color: $white;
	}
	.widget-user-image {
		position: absolute;
		inset-block-start: 65px;
		inset-inline-start: 50%;
		margin-inline-start: -45px;
		>img {
			width: 90px;
			height: auto;
			border: 3px solid $white;
		}
	}
}

.widget-info {
	i {
		width: 100px;
		height: 100px;
		padding: 27px 0;
		text-align: center;
		border: 2px solid $white;
		border-radius: 50%;
	}
	a {
		border-block-end: 1px solid $white;
	}
}

.widget-user .user-wideget-footer {
	padding-block-start: 30px;
}

.user-wideget-footer {
	border-start-start-radius: 0;
	border-start-end-radius: 0;
	border-block-start: 1px solid #f4f4f4;
	padding: 10px;
	background-color: $white;
}

.user-wideget .border-end {
	border-inline-end: 1px solid #f4f4f4;
}

.facebook-bg {
	background: #4777da;
	color: $white;
}

.twitter-bg {
	background: #0c85d0;
	color: $white;
}

.google-bg {
	background: #c63224;
	color: $white;
}

.dribbble-bg {
	background: #e62a72;
	color: $white;
}

.pinterest-bg {
	background: #df2a31;
	color: $white;
}

.info-box {
	display: block;
	min-height: 90px;
	background: $custom-white;
	width: 100%;
	border-radius: 0.275rem;
	overflow: hidden;
	margin-bottom: 15px;
	box-shadow: 0px 0px 51px 0px rgba(122, 128, 144, 0.08), 0px 6px 18px 0px rgba(122, 128, 144, 0.05);
}

.info-box-icon>img {
	max-width: 100%;
}

.info-box-content {
	padding: 1.4rem 1.5rem;
	margin-left: 90px;
}

.info-box-number {
	display: block;
}

.info-box-text {
	display: block;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: uppercase;
}

.info-box-more {
	display: block;
}

.info-box small {
	font-size: 14px;
}

.info-box-icon {
	display: block;
	float: left;
	height: 90px;
	width: 90px;
	text-align: center;
	font-size: 45px;
	line-height: 90px;
	background: $black-2;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
@media (max-width: 320px) {
	.btn-group .btn-sm {
		padding: 0.25rem 0.5rem;
	}
}
/* End :: widgetsstyles */